<header class="l-header">
  <div class="l-constrained">
    <div class="l-constrained__padded">

      <h1>Made with Dough</h1>
      <p class="strapline">An accessible, fully tested and extensible component library from the <a href="http://www.moneyadviceservice.org.uk">Money Advice Service</a>.</p>

      <p class="explain">Built using progressive enhancement, just embed a component in your Ruby on Rails app using a helper tag below. Write once, use everywhere.</p>

      <p><a href="http://github.com/moneyadviceservice/dough" target="new">Download</a> our component library, leave to rise in a warm place for twenty minutes, then use.</p>

    </div>
  </div>
</header>
